.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#event-form {
  margin-top: 200px;
}

#btn-event {
  color: white;
  background: #606a74;
}

.input-event {
  border: 2px solid #6f767f;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-item:nth-child(1) {
  order: 1;
  flex: 1 0 auto;
  align-self: center;
  text-align: left;
}

.flex-item:nth-child(2) {
  order: 2;
  flex: 1 1 auto;
  align-self: center;
  text-align: right;
}

#header-event-name {
  margin-bottom: 0px;
}

#header-hashtag {
  font-weight: bold;
}

.header-posts-users {
  font-weight: bold;
}

#header-postuser-container {
  color: #626b74;
}
